 * {
     margin: 0;
     padding: 0;
 }

 .text-orange {
     color: #FD6E0A;
 }

 /* nav related style */
 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #FFF8F3;
     padding: 10px 50px;
 }

 .nav-title {
     color: #181818;
     text-align: right;
     font-family: Open Sans;
     font-size: 45px;
     font-weight: 800;
 }

 nav>ul {
     display: flex;
     align-items: center;
     list-style: none;
     color: #474747;
     font-family: Open Sans;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
 }

 nav li {
     margin-right: 50px;
 }

 nav a {
     text-decoration: none;
 }

 .btn {
     font-family: Open Sans;
     font-size: 20px;
     font-weight: 700;
     border-radius: 2px;
     border: 0px;
     color: white;
     padding: 10px 25px;
     background: #FD6E0A;
     ;
 }

 /* header related */
 /* .head {
     background: red;
     color: brown;
     cursor: pointer;
     font-size: larger;

 } */

 .banner {
     background-color: #FFF8F3;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0px 50px;
 }

 .img {
     width: 500px;
     height: 400px;
 }

 .banner-greeting {
     color: var(--dark-02, #474747);
     font-family: Open Sans;
     font-size: 40px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
 }

 .banner-title {
     color: var(--dark-01, #181818);
     font-family: Open Sans;
     font-size: 60px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }

 .banner-para {
     color: var(--dark-03, #757575);
     font-family: Open Sans;
     font-size: 12px;
     font-style: normal;
     font-weight: 400;
     padding-top: 20px;
     padding-bottom: 20px;
 }